@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?uiq4xa');
  src:  url('fonts/icomoon.eot?uiq4xa#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?uiq4xa') format('truetype'),
    url('fonts/icomoon.woff?uiq4xa') format('woff'),
    url('fonts/icomoon.svg?uiq4xa#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-social-whatsapp:before {
  content: "\e911";
}
.icon-social-linkedin:before {
  content: "\e912";
}
.icon-wsp:before {
  content: "\e910";
}
.icon-menos:before {
  content: "\e90f";
}
.icon-tk:before {
  content: "\e900";
}
.icon-gps:before {
  content: "\e901";
}
.icon-mas:before {
  content: "\e902";
}
.icon-menu1:before {
  content: "\e903";
}
.icon-msj:before {
  content: "\e904";
}
.icon-phone1:before {
  content: "\e905";
}
.icon-spf:before {
  content: "\e906";
}
.icon-lkd:before {
  content: "\e907";
}
.icon-inst:before {
  content: "\e908";
}
.icon-fb:before {
  content: "\e909";
}
.icon-flecha-diagonal:before {
  content: "\e90a";
}
.icon-flecha-right:before {
  content: "\e90b";
}
.icon-fleha-left:before {
  content: "\e90c";
}
.icon-check:before {
  content: "\e90d";
}
.icon-adjuntar:before {
  content: "\e90e";
}
.icon-envelope:before {
  content: "\e61d";
}
.icon-close:before {
  content: "\e605";
}
.icon-social-facebook:before {
  content: "\e603";
}
.icon-social-twitter:before {
  content: "\e604";
}
.icon-menu:before {
  content: "\e602";
}
.icon-arrow-right:before {
  content: "\e606";
}
.icon-arrow-left:before {
  content: "\e607";
}
.icon-arrow-down:before {
  content: "\e608";
}
.icon-arrow-up:before {
  content: "\e609";
}
.icon-search:before {
  content: "\e612";
}
.icon-location:before {
  content: "\e600";
}
.icon-phone:before {
  content: "\e60a";
  color: #444;
}
.icon-youtube:before {
  content: "\e601";
}
