/* CSS personalizado del tema. Se carga al final y pisa blocks_styl.css */
.center-text-card-ventas {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center-text-card-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.h-fit {
  height: fit-content !important;
}
.center-logo-card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 103px;
}

@media screen and (max-width: 1000px) {
  .center-text-card-home {
    padding-top: 10px;
  }
  .center-logo-card {
    min-height: auto;
  }
}
