.lg-toolbar
	background none !important
.lg-toolbar .lg-icon
	color #fff !important
#lg-counter
	color #fff !important
.lg-hide-items .lg-toolbar
	opacity 1 !important
.lg-backdrop.in
	opacity 0.5 !important

.g0-cnt-btn
	display flex
	&.center
		justify-content center
.g0-btn
	width 216px
	padding-left 10px
	padding-right 10px
	height 56px
	display flex
	align-items center
	justify-content center
	text-align center
	background-color c-4
	box-sizing border-box
	color c-13
	font-size 16px
	font-family t-0
	text-transform uppercase
	border none
	i
		margin-right 8px
		font-size 12px
	&:hover
		transition all .3s
		background-color c-15
	&.br
		margin 0
		width 221px
		background-color transparent
		border 1px solid c-4
		color c-4
		font-size 14px
		i
			font-size 8px
		&:hover
			border c-15
			color c-15
			

	