.b10
	padding-top 72px
	background-color c-5
	.wancho
		max-width 1040px
	@media screen and (max-width 745px)
		padding-top 50px
.b10-title
	font-size 60px
	font-weight 700
	color c-1
	margin-bottom 54px
	&.bottom
		margin-bottom 24px
	&.mb
		margin-bottom 31px
	@media screen and (max-width 1180px)
		font-size 40px
		margin-bottom 40px
	@media screen and (max-width 745px)
		font-size 30px
.b10-inner
	display flex
	flex-flow row wrap
	align-items center
	border-top 1px solid rgba(c-4, 0.4)
	border-bottom 1px solid rgba(c-4, 0.4)
.b10-text
	width 41%
	box-sizing border-box
	padding-right 80px
	@media screen and (max-width 1000px)
		padding-right 30px
	@media screen and (max-width 745px)
		width 100%
		padding-right 0
		padding-top 20px
.b10-description
	font-weight 300
	font-size 16px
	line-height 26px
	text-align justify
	letter-spacing: 0.005em
	margin-bottom 15px
	p
		margin 0
.b10-logo
	img
		max-width 100%
		height auto
.b10-video
	width 59%
	padding-top 44px
	padding-bottom 44px
	box-sizing border-box
	border-left 1px solid rgba(c-4, 0.4)
	padding-left 48px
	@media screen and (max-width 1000px)
		padding-left 30px
	@media screen and (max-width 745px)
		width 100%
		border-left none
		padding-left 0
		padding-top 20px
		padding-bottom 20px
.b10-bg
	background-size cover
	background-position center
	width 100%
	height 344px
	display flex
	align-items center
	@media screen and (max-width 480px)
		height 250px
.b10-play
	display flex
	align-items center
	justify-content center
	margin  auto
	border 1px solid c-5
	border-radius 100%
	width 103px
	height 103px
	span
		margin 0
		color c-5
		font-size 14px
		font-family t-0
		letter-spacing: 0.0025em
	
		
		