.b11
	padding-top 56px
	background-color c-5
	padding-bottom 80px
.b11-list
	display flex
	flex-flow row wrap
.b11-item
	margin 0
	width 23.5%
	margin-left 2%
	margin-bottom 20px
	&:first-child
		margin-left 0
	&:nth-child(4n+1)
		margin-left 0
	@media screen and (max-width 745px)
		width 49%
		margin-bottom 25px
		&:nth-child(2n+1)
			margin-left 0
.b11-foto
	img
		max-width 100%
		height auto
		display block
.b11-text-it
	margin-top 22px
	h3
		font-size 20px
		color c-1
		letter-spacing: 0.0015em
		font-weight 600
		line-height 28px
	p
		margin 0
		font-weight 500
		color c-1
		font-size 14px
	@media screen and (max-width 745px)
		margin-top 18px
		h3
			font-size 18px
			line-height 25px
		
	
	