.b12
	padding-top 58px
	padding-bottom 100px
	background-color c-5
.b12-inner
	display flex
	flex-flow row wrap
	justify-content space-between
.b12-left
	width 30%
	@media screen and (max-width 1000px)
		width 35%
	@media screen and (max-width 745px)
		width 100%
		padding-bottom 35px
.b12-item-left
	margin-bottom 29px
	i
		&.msj
			font-size 16px
		&.gps
			font-size 25px
	.f-title
		margin-bottom 9px
		@media screen and (max-width 460px)
			justify-content flex-start
	.f-phones
		a
			color c-0
			font-size 16px
			font-weight 300
			line-height 26px
	.f-correo
		color c-0
		font-size 16px
		font-weight 300
.b12_btn_ubicacion
	a
		width 48%
		border 1px solid #718EA2
		color #718EA2
		@media screen and (min-width 1025px)
			&:hover
				color #445561
				border 1px solid #445561

.b12-btn-maps
	display flex
	align-items center
	justify-content center
	margin 0
	width 138px
	padding 13px 10px
	box-sizing border-box
	font-size 14px
	text-align center
	color c-4
	border 1px solid rgba(c-4, 0.5)
	margin-left 19px
	img
		max-width 100%
		height auto
		margin 0
		margin-right 8px
	&:first-child
		margin-left 0
.b12-right
	width 49.5%
	@media screen and (max-width 1000px)
		width 57%
	@media screen and (max-width 745px)
		width 100%
.b12-description-form
	font-weight 300
	font-size 16px
	line-height 26px
	letter-spacing: 0.005em
	color c-15
	margin-bottom 34px
	p
		margin 0
.b12-formulario
	@media screen and (max-width 745px)
		.g0-cnt-btn button
			width 100%
			box-sizing border-box

	

	
	