.b13
	padding-top 58px
	padding-bottom 76px
.b13-inner
	display flex
	flex-flow row wrap
	justify-content space-between
	position relative
.b13-left
	width 31.5%
	@media screen and (max-width 1250px)
		width 39%
	@media screen and (max-width 1000px)
		width 100%
		margin-bottom 40px
.b13-description
	font-size 16px
	font-family t-0
	font-weight 300
	line-height 26px
	letter-spacing: 0.005em
	margin-bottom 71px
	p
		margin 0
	@media screen and (max-width 1000px)
		margin-bottom 40px
.b13-bg
	background-size cover
	background-position center
	width 536px
	height 608px
	position relative
	left -42%
	@media screen and (max-width 1000px)
		left inherit
		height 480px
	@media screen and (max-width 745px)
		width 100%
		height 370px
.b13-right
	width 49%
	@media screen and (max-width 1250px)
		width 52%
	@media screen and (max-width 1000px)
		width 100%