.b14
	padding-top 74px
	background-color c-6
	padding-bottom 100px
	.b3-text-it
		padding-top 20px
		padding-bottom 20px
	.b3-info-it
		border-bottom 1px solid c-12
	.b3-logo-it
		display flex
		padding-top 19px
		img
			height 80px
			width auto
	.owl-nav
		display flex
		margin-top 25px
	.owl-prev, .owl-next
		border-radius 100%
		border 1px solid c-4
		width 50px
		height 50px
		display flex
		align-items center
		justify-content center
		font-size 10px
		color c-4
		cursor pointer
	.owl-next
		margin-left 12px
	@media screen and (max-width 745px)
		padding-top 50px
		padding-bottom 50px
		.b3-text-it
			padding-left 14px
		.b10-bg
			height 300px
		.owl-nav
			justify-content center
.b14-title
	font-size 25px
	font-weight 700
	color c-1
	letter-spacing: -0.02em
	margin-bottom 37px
.b14-inner
	display flex
	flex-flow row wrap
	justify-content space-between
.b14-left
	width 45.7%
	@media screen and (max-width 1180px)
		width 48%
	@media screen and (max-width 745px)
		width 100%
		margin-bottom 40px
.b14-right
	width 39.7%	
	@media screen and (max-width 1180px)
		width 44%
	@media screen and (max-width 1000px)
		width 49%
	@media screen and (max-width 745px)
		width 100%
.b14-item-project
	margin-bottom 11px

	&:last-child
		margin-bottom 0
	