.b17
	padding-top 70px
	padding-bottom 80px
	.wancho
		display flex
		align-items center
		flex-flow row wrap
		justify-content space-between
	@media screen and (max-width 1000px)
		.g0-cnt-btn
			justify-content center
.b17-left
	width 47%
	@media screen and (max-width 1000px)
		width 100%
.b17-title
	font-size 60px
	font-weight 700
	color c-1
	margin-bottom 18px
	@media screen and (max-width 1180px)
		font-size 45px
	@media screen and (max-width 1000px)
		text-align center
		font-size 32px
.b17-description
	font-size 16px
	font-weight 300
	line-height 26px
	letter-spacing: 0.005em
	margin-bottom 54px
	p
		margin 0
	@media screen and (max-width 1000px)
		text-align center
.b17-right
	width 34%
	background-size cover
	background-position center
	height 493px
	@media screen and (max-width 1000px)
		display none
	
	