.b18
	background-size cover
	background-position center
	.wancho
		height 100vh
		position relative
	@media screen and (max-width 1000px)
		.wancho
			height 300px
		.b18-back-bottom
			margin-top 30px
.b18-back-bottom
	box-sizing border-box
	margin 0
	margin-top 80px
	width 50px
	height 50px
	display flex
	align-items center
	justify-content center
	border-radius 100%
	border 1px solid #D2CCC2
	color #D2CCC2
	box-sizing border-box
	font-size 10px
	transition all .3s
	position absolute
	left 0
	top 0
	&:hover
		border #334049
		color #334049
		transition all .3s

