.b19
	padding-top 40px
	background-color c-5
	.wancho
		max-width 1300px
	.g0-btn
		margin 0
.b19-logo
	margin-bottom 10px
	img
		max-width 100%
		height auto
.b19-title
	font-weight 600
	font-size 34px
	line-height 44px
	color c-1
	max-width 630px
	margin-bottom 30px
	@media screen and (max-width 745px)
		font-size 25px
		line-height 32px
.b19-inner
	display flex
	flex-flow row wrap
	justify-content space-between
	align-items center
.b19-left
	width 22%
	@media screen and (max-width 1150px)
		width 25%
	@media screen and (max-width 1000px)
		width 100%
		margin-bottom 40px
.b19-description
	font-weight 300
	font-size 16px
	line-height 26px
	letter-spacing: 0.005em
	margin-bottom 83px
	p
		margin 0
	@media screen and (max-width 1000px)
		margin-bottom 50px
.b19-price
	p
		margin 0
		font-weight 600
		font-size 20px
		letter-spacing: 0.0015em
		color c-1
		margin-bottom 16px
	span
		margin 0
		font-size 50px
		font-weight 300
		color c-1
		em
			font-size 24px
			font-weight 400
	@media screen and (max-width 745px)
		span
			font-size 40px
.b19-center
	width 51.9%
	@media screen and (max-width 745px)
		width 100%
		
.b19-figura-center
	img
		max-width 100%
		height auto
.b19-right
	width 21%
	@media screen and (max-width 1000px)
		width 32%
	@media screen and (max-width 745px)
		width 100%
		margin-top 20px
.b19-list
	margin-bottom 59px
.b19-item
	display flex
	align-items center
	margin-bottom 40px
	&:last-child
		margin-bottom 0
.b19-fig-it
	width 48px
	img
		max-width 100%
		height auto
.b19-title-it
	padding-left 15px
	box-sizing border-box
	width 200px
	font-size 14px
	letter-spacing: 0.0025em
	line-height 20px
	
	
			
		
		
		
	
	