.b2
	padding-top 58px
	padding-bottom 60px
	background-color c-5
	.wancho
		position relative
		padding-bottom 57px
		box-sizing border-box
	.b6-left
		width 42%
	.b6-title
		font-size 45px
		line-height 50px
	.b6-text-top
		padding-left 57px
		padding-right 0
	.b6-description
		margin-top 0
		max-width 400px
		text-align inherit
		margin-bottom 60px
		padding-left 57px
		p
			margin 0
	.b10-bg
		height 198px
		width 352px
	.b6-right
		width 46.9%
		padding-right 57px
		box-sizing border-box
	@media screen and (max-width 1180px)
		.b6-right
			padding-right 30px
		.b6-text-top
			padding-left 30px
		.b6-description
			padding-left 30px
		.b6-left
			width 50%
	@media screen and (max-width 1000px)
		.b6-right
			width 100%
			padding-left 30px
		.b6-left
			width 100%
		.b6-description
			max-width none
			margin-bottom 40px
	@media screen and (max-width 745px)
		.b10-bg
			width 100%
		.b6-title
			font-size 30px
			line-height 38px
		
.b2-video
	padding-left 57px
	box-sizing border-box
	@media screen and (max-width 1180px)
		padding-left 30px
	@media screen and (max-width 745px)
		padding-right 30px
	