.b21
	padding-bottom 84px
	background-color c-5
	@media screen and (max-width 1000px)
		padding-bottom 50px
.b21-title
	font-size 34px
	font-weight 600
	margin-bottom 33px
	@media screen and (max-width 745px)
		font-size 30px
.b21-mapa	
	filter grayscale(1) !important
	iframe
		height 527px
		width 100%	
	
.b21_text_p
	text-align justify
	padding-top 30px
	font-size 16px
	font-weight 300
	line-height 26px