.b23
	padding-top 50px
	padding-bottom 95px
	box-sizing border-box
	background-color #F8F6F3
	@media screen and (max-width 745px)
		padding-top 30px
		padding-bottom 60px
	.owl-nav
		display flex
		position absolute
		right 3px
		top 273px
		@media screen and (max-width 745px)
			top 90%
			right 0%
			margin-top 20px
		@media screen and (max-width 480px)
			top 103%
			right 35%
	.owl-next, .owl-prev
		width 50px
		height 50px
		display flex
		margin 0
		align-items center
		justify-content center
		border-radius 100%
		border 1px solid c-4
		color c-4
		font-size 10px
		cursor pointer
		&:hover
			transition all .3s
			border #334049
			color #334049
	.owl-next
		margin-left 11px
.b23-fila-top
	max-width 420px
	margin-bottom 30px
.b23-title
	font-weight 600
	font-size 34px
	margin-bottom 22px
.b23-description
	font-size 16px
	font-weight 300
	letter-spacing: 0.005em
	line-height 26px
	margin-bottom 22px
	p
		margin 0
.b23-link
	font-weight 300
	color c-4
	margin 0
	letter-spacing: 0.005em
	display flex
	align-items center
	i
		margin-right 11px
		font-size 12px
	span
		text-decoration underline
	&:hover
		color #334049
		transition all .3s
.b23-fila-down
	display flex
	position relative
	@media screen and (max-width 745px)
		flex-direction column
.b23-content-slider
	width 100%
.b23-item-sl
	// min-height 512px
	display flex
	align-items flex-end
	@media screen and (max-width 745px)
		flex-flow row wrap	
.b23-figura-it
	background-size cover
	background-position top center
	height 512px
	width 615px
	box-sizing border-box
	@media screen and (max-width 1000px)
		width 390px
	@media screen and (max-width 745px)
		width 100%
		height 390px
.b23-text-it
	max-width 309px
	margin-left 60px
	@media screen and (max-width 745px)
		margin-left 0
		width 100%
		margin-top 20px
.b23-name
	margin 0
	font-size 20px
	font-weight 600
	color c-1
	letter-spacing: 0.0015em
.b23-description-it
	margin-top 17px
	font-size 16px
	font-weight 300
	letter-spacing: 0.005em

.b23-wrap
	display flex
	height 256px
	justify-content space-between
	position absolute
	z-index 2
	right 0
	top 0
	@media screen and (max-width 745px)
		display none

.b23-wrap-previous	
	width 308px
	.owl-dots, .owl-nav
		display none

.b23-slider-small	
	height 100%

.b23-previous
	background-size cover
	background-position top center
	width 308px
	height 256px
	@media screen and (max-width 1000px)
		width 250px

.b23-control
	display flex
	position absolute
	right 0
	top 55%
	z-index 3
	@media screen and (max-width 745px)
		position static
		justify-content center
		margin-top 40px
	




