.b27
	padding-top 80px
	padding-bottom 120px
	box-sizing border-box
	.g0-btn
		margin 0 auto
		border none
	@media screen and (max-width 745px)
		padding-top 40px
		padding-bottom 60px
.b27-title-libro
	font-size 60px
	line-height 76px
	font-weight 700
	color c-1
	margin-bottom 20px
	text-align center
	@media screen and (max-width 745px)
		font-size 30px
		line-height 36px
.b27-description-libro
	max-width 800px
	font-weight 300
	font-size 16px
	text-align center
	margin 0 auto
	margin-bottom 48px
	line-height 26px
	letter-spacing 0.005em
	color c-1
	p
		margin 0
	@media screen and (max-width 745px)
		margin-bottom 40px
.b27-libro-box
	margin-bottom 28px
	&.observacion
		border-bottom 1px solid c-4
		padding-bottom 28px
		box-sizing border-box
	&.claim
		border-top 1px solid c-4
		padding-top 28px
		box-sizing border-box
		

.b27-title-box
	font-size 16px
	line-height 20px
	color c-1
	margin-bottom 18px
	font-weight 400
.b27-libro-down
	max-width 800px
	margin 0 auto
.b27-subtitle-libro
	font-size 14px
	color c-4
	letter-spacing 0.0025em
	margin-bottom 18px
	line-height 20px
.b27-nota
	line-height 18px
	font-size 12px
	color c-17
	letter-spacing 0.015em
	border-bottom 1px solid c-4
	p
		margin 0
		margin-bottom 22px
.b27-reclamo-menor
	display flex
	justify-content space-between
	font-size 12px
	line-height 20px
	color c-17
	padding-bottom 28px
	border-bottom 1px solid c-4
	p
		width 48.5%
		margin 0
	@media screen and (max-width 640px)
		display block
		p
			width 100%
			margin-bottom 8px
			
.b27-box-reclamo
	font-size 14px
	color c-1
	font-family t-0
	line-height 20px
	margin-bottom 14px
	p
		margin 0
.b27-libro-observacion
	font-family t-0
	color c-1
	font-size 14px
	line-height 20px
	p
		margin 0
		margin-bottom 8px
.b27-libro-formulacion
	font-size 12px
	color #6B6B6C
	margin-top 20px
	line-height 16px
	p
		margin 0
		margin-bottom 10px
.b27-list-radios
	display flex
	flex-flow row wrap
	margin-bottom 30px
	
.b27-adjunta
	padding-top 7px
	padding-bottom 37px
	box-sizing border-box
	font-size 11px
	line-height 13px
	color #3F5D73
	border-bottom 1px solid c-4
	
.b27-required
	font-size 12px
	font-weight 500
	line-height 20px
	color rgba(c-17, 0.8)

.b2_form_btn
	@media screen and (max-width 745px)
		button
			width 100%
			box-sizing border-box
