.b28
	padding-top 55px
	padding-bottom 60px
	.wancho
		max-width 921px
.b28-title
	text-align center
	font-weight 600
	font-size 60px
	line-height 75px
	color c-1
	margin-bottom 45px
	@media screen and (max-width 745px)
		font-size 25px
		line-height 30px
		margin-bottom 30px
.b28-description
	font-size 16px
	line-height 23px
	text-align justify
	a
		color #718EA2
	p
		margin 0
		margin-bottom 50px
	strong
		color #0E0E0F
		font-weight 400
	h3
		color c-0
		font-size 20px
		line-height 24px
		font-weight 700
		margin-bottom 10px
	ul
		margin-bottom 15px
		li
			padding-left 12px
			position relative
			color #4E4E4F
			padding-bottom 10px
			&:last-child
				padding-bottom 0
			&:after
				content ""
				width 4px
				height 4px
				background-color c-0
				border-radius 50%
				position absolute
				left 0
				top 10px
				bottom 0
			
	table
		width 100%
		max-width 921px
		margin 0 auto
		border 1px solid #646567
		box-sizing border-box	
		margin-top 60px
		margin-bottom 61px
		tr
			border 1px solid #646567
			th
				font-family t-0
				border-right 1px solid #646567
				text-align left
				padding-left 27px
				padding-right 27px
				height 80px
				box-sizing border-box
			td
				border-right 1px solid #646567
				padding 27px
				box-sizing border-box
				&:first-child
					max-width 300px
	@media screen and (max-width 745px)
		font-size 14px
		line-height 20px
		table
			tr
				td
					padding-left 10px
					padding-right 10px
					line-height 16px
					font-size 12px