// Prev and Next style

.b30-wrap
	display flex
	flex-flow row wrap
.b30-item
	background-size cover
	background-position center
	width 50%
	display flex
	align-items center
	justify-content center
	position relative
	margin 0
	box-sizing border-box
	padding-left 20px
	padding-right 20px
	height 285px
	&:after
		content ""
		left 0
		top 0
		width 100%
		height 100%
		z-index 1
		background rgba(0, 0, 0, 0.5);
		position absolute
	@media screen and (max-width 745px)
		width 100%
		
	
.b30-text
	max-width 335px
	position relative
	z-index 3
	span
		margin 0
		font-size 16px
		color #F2F2F2
.b30-title
	margin-top 15px
	font-size 20px
	line-height 28px
	color #FBFBFB
	@media screen and (max-width 960px)
		font-size 18px
		line-height 24px
