.b46
	padding-top 100px
	padding-bottom 172px
	box-sizing border-box
	.wancho
		max-width 1100px
	@media screen and (max-width 745px)
		padding-top 80px
		padding-bottom 80px
	@media screen and (max-width 480px)
		padding-top 40px
		padding-bottom 50px
.b46-title
	margin-bottom 80px
	color c-1
	font-weight 700
	font-size 60px
	line-height 76px
	@media screen and (max-width 1000px)
		font-size 30px
		line-height 46px
		margin-bottom 50px
	@media screen and (max-width 745px)
		font-size 19px
		line-height 30px
		margin-bottom 30px

.b46-item
	display flex
	flex-flow row wrap
	justify-content space-between
	margin 0
	margin-bottom 64px
	@media screen and (max-width 1000px)
		flex-flow row wrap
		margin-bottom 30px
		
.b46-left
	width 62.9%
	margin-right 5%
	@media screen and (max-width 1000px)
		width 100%
		margin-right 0%

.b46-bgi
	height 424px
	width 692px
	background-position center
	background-size cover
	box-sizing border-box
	filter: grayscale(1)
	@media screen and (max-width 1130px)
		width 600px
		height 424px
	@media screen and (max-width 1000px)
		width 100%	
	@media screen and (max-width 745px)
		height 350px
	@media screen and (max-width 480px)
		height 280px
	

	
.b46-right
	width 31.7%
	padding-top 15px
	padding-bottom 55px
	box-sizing border-box
	@media screen and (max-width 1000px)
		display flex
		width 100%
		justify-content space-between
		align-items center
		padding-top 0px
		margin-top 15px
		padding-bottom 0
		.b46-content-top
			display flex
	@media screen and (max-width 745px)
		.b46-content-top
			display block
	@media screen and (max-width 480px)
		.b46-content-top
			margin-right 20px
.b46-logo
	margin-bottom 11px	
	img
		max-width 100%
		height auto
	@media screen and (max-width 1000px)
		margin-bottom  0
		margin-right 120px
	@media screen and (max-width 480px)
		margin-right 0px

.b46-direction
	display flex
	align-items center
	justify-content flex-start
	p
		margin 0
		font-weight 400
		font-size 14px
		line-height 20px
	@media screen and (max-width 745px)
		display none
		p
			font-size 12px
			line-height 16px
.b46-icon
	margin-right 10px
	

.b46-descriptions
	margin-top 108px
	p
		margin 0
		font-weight 300
		font-size 16px
		line-height 26px
		letter-spacing 0.005em
		margin-top 6px
		&:first-child
			margin-top 0
	@media screen and (max-width 1000px)
		margin-top 0
	@media screen and (max-width 745px)
		p
			font-size 14px
			line-height 18px
	@media screen and (max-width 480px)
		p
			font-size 12px
			line-height 16px
.b46_mobil_clone
	display none
	.b46-direction
		display flex
	@media screen and (max-width 745px)
		display block
	