.b49
	padding-top 60px
	padding-bottom 43px
	box-sizing border-box
	overflow hidden
	@media screen and (max-width 745px)
		padding-top 40px
	.wancho
		display flex
		justify-content flex-start
		max-width 1121px
		@media screen and (max-width 1000px)
			flex-flow row wrap
	@media screen and (max-width 1000px)
		padding-top 80px
	
.b49-left
	width 47%
	padding-top 66px
	box-sizing border-box
	margin-right 7%
	@media screen and (max-width 1000px)
		width 100%
		padding-top 0
		margin-right 0
		margin-bottom 30px
.b49-title
	margin-bottom 38px
	font-weight 700
	font-size 60px
	line-height 76px
	color c-1
	position relative
	@media screen and (max-width 1000px)
		margin-bottom 25px
		font-size 45px
	@media screen and (max-width 745px)
		font-size 40px
		line-height 47px
		margin-bottom 20px
.b49-link
	display flex
	align-items center
	justify-content center
	width 50px
	height 50px
	border-radius 100%
	border 1px solid #D2CCC2
	box-sizing border-box
	color #D2CCC2
	font-size 10px
	position absolute
	left -80px
	top 0
	bottom 0
	@media screen and (max-width 1280px)
		left 0
		top -140px
		
.b49-description
	font-weight 300
	font-size 16px
	line-height 26px
	text-align justify
	letter-spacing 0.005em
	color c-0
	margin-bottom 64px
	p
		margin-bottom 30px
		&:last-child
			margin-bottom 0
	@media screen and (max-width 1000px)
		margin-bottom 40px
	@media screen and (max-width 745px)
		font-size 14px
		line-height 18px
		margin-bottom 20px
		p
			margin-bottom 15px

// .b49-right
// 	width 45%
// 	img
// 		max-widht 100%
// 		height auto
		
.b49-right-bg
	width 510px
	height 756px
	background-position center
	background-size cover
	box-sizing border-box
	@media screen and (max-width 1000px)
		margin 0 auto
	@media screen and (max-width 745px)
		height 500px
		width 335px
