.b50
	padding-top 84px
	padding-bottom 112px
	box-sizing border-box
	img
		height auto
		max-width 100%
	@media screen and (max-width 480px)
		padding-top 40px
		padding-bottom 45px

.b50-top
	margin-bottom 32px

.b50-title
	font-size 25px
	letter-spacing -0.02em
	line-height 35px
	color c-1
	font-weight 700


.b50-bottom
	display flex
	justify-content space-between
	align-items center
	@media screen and (max-width 1000px)
		flex-flow row wrap

.b50-left
	width 31.5%
	@media screen and (max-width 1200px)
		width 25%
	@media screen and (max-width 1000px)
		width 49%
		margin-right 2%

.b50-center
	padding-left 52px
	padding-right 52px
	box-sizing border-box
	width 36.7%
	@media screen and (max-width 1200px)
		padding 0
	@media screen and (max-width 1000px)
		width 100%
		order -1
		margin-bottom 20px

.b50-center-title
	font-size 34px
	line-height 44px
	color c-0
	font-weight 600
	margin-bottom 27px
	@media screen and (max-width 480px)
		font-size 25px
		line-height 30px
		
	
.b50-center-text
	font-weight 300
	font-size 16px
	line-height 26px
	color c-0
	letter-spacing 0.010em
	p
		margin 0
	@media screen and (max-width 480px)
		font-size 14px
		line-height 17px

.b50-right
	width 31.3%
	position relative
	@media screen and (max-width 1200px)
		width 26%
	@media screen and (max-width 1000px)
		width 49%
	a
		position absolute
		top 0
		right 0
		left 0
		margin auto
		bottom 0
		
		