.b6
	padding-top 77px
	padding-bottom 105px
	background-color c-5
	@media screen and (max-width 745px)
		padding-top 50px
		padding-bottom 60px
.b6-wrap
	display flex
	flex-flow row wrap
	justify-content space-between
.b6-left
	width 55%
	padding-top 30px
	box-sizing border-box
	@media screen and (max-width 1000px)
		width 100%
		padding-bottom 25px
	@media screen and (max-width 745px)
		padding-top 0
.b6-text-top
	position relative
	padding-left 43px
	padding-right 40px
	padding-top 32px
	padding-bottom 14px
	box-sizing border-box
	@media screen and (max-width 745px)
		padding-left 20px
		padding-right 20px
.b6-union-1
	left 0
	top 0
	position absolute
	img
		max-width 100%
		height auto
.b6-union-2
	right 0
	bottom 0
	position absolute
	img
		max-width 100%
		height auto
.b6-title
	font-size 34px
	line-height 44px
	margin-bottom 22px
	p
		margin 0
	strong
		font-weight normal
		font-weight 700
		color c-1
	@media screen and (max-width 745px)
		font-size 20px
		line-height 35px
.b6-subtitle
	font-size 14px
	text-transform uppercase
	font-weight 500
	color c-8
	margin 0
	margin-bottom 12px
.b6-description
	margin-top 70px
	font-size 16px
	font-weight 300
	line-height 26px
	letter-spacing: 0.005em
	text-align justify
	max-width 503px
	padding-left 43px
	box-sizing border-box
	@media screen and (max-width 1000px)
		padding-right 80px
		max-width none
	@media screen and (max-width 745px)
		padding-left 20px
		padding-right 10px
		margin-top 50px
.b6-right
	width 42.1%
	@media screen and (max-width 1000px)
		width 100%
.b6-bg
	background-size cover
	background-position center
	width 100%
	min-height 632px
	@media screen and (max-width 745px)
		min-height auto
		height 390px
	