.b9
	background-color c-3
	padding-top 58px
	padding-bottom 76px
	@media screen and (max-width 745px)
		padding-top 40px
		padding-bottom 50px
.b9-title
	font-size 48px
	line-height 58px
	font-weight 700
	color c-1
	max-width 420px
	&.full
		max-width none
	@media screen and (max-width 1180px)
		font-size 40px
		line-height 45px
	@media screen and (max-width 745px)
		font-size 30px
		line-height 38px
.b9-list
	display flex
	flex-flow row wrap
	margin-top 40px
.b9-item
	width 16.8%
	margin-left 4%
	margin-bottom 3%
	&:first-child
		margin-left 0
	&:nth-child(5n+1)
		margin-left 0
	@media screen and (max-width 745px)
		width 49%
		margin-left 2%
		margin-bottom 30px
		&:nth-child(5n+1)
			margin-left 2%	
		&:nth-child(2n+1)
			margin-left 0
.b9-figura
	margin-bottom 29px
	img
		max-width 100%
		height auto
.b9-title-it
	font-size 16px
	font-family t-0
	line-height 20px
	@media screen and (max-width 1000px)
		font-size 14px
		line-height 17px
	
	