.footer
	background-color c-6
	padding-bottom 44px
.f-top
	padding-top 35px
	padding-bottom 39px
	display flex
	align-items center
	justify-content space-between
	@media screen and (max-width 1000px)
		flex-flow row wrap
.f-top-left
	width 11.2%
	@media screen and (max-width 1000px)
		width 100%
		text-align center
		margin-bottom 10px
.f-top-right
	width 79%
	display flex
	justify-content space-between
	@media screen and (max-width 1000px)
		width 100%
	@media screen and (max-width 745px)
		flex-flow row wrap
		justify-content center
		text-align center
.f-logo
	display flex
	img
		max-width 100%
		height auto
.f-logo-home
	display none
	img
		max-width 100%
		height auto
.f-contact
	@media screen and (max-width 745px)
		width 100%
		text-align center
		display flex
		flex-direction column
		align-items center
		margin-bottom 20px
.f-redes
	@media screen and (max-width 745px)
		margin-left 30px
	@media screen and (max-width 460px)
		width 100%
		margin-left 0
		margin-top 20px
.f-title
	font-weight 500
	font-size 14px
	color c-4
	margin-bottom 15px
	display flex
	align-items center
	i
		margin-right 10px
		font-size 20px
	@media screen and (max-width 460px)
		justify-content center
.f-phones
	font-weight 300
	font-size 20px
	letter-spacing: 0.005em
	color c-4
	a
		margin 0
		display flex
	&:hover
		transition all .3s
		color c-16
	@media screen and (max-width 1000px)
		font-size 16px
.f-correo
	font-weight 300
	font-size 20px
	letter-spacing: 0.005em
	color c-4
	&:hover
		transition all .3s
		color c-16
	@media screen and (max-width 1000px)
		font-size 16px
.f-list-redes
	display flex
	align-items center
	@media screen and (max-width 460px)
		justify-content center
.f-red
	margin 0
	display flex
	margin-left 16px
	font-size 20px
	color c-4
	&:first-child
		margin-left 0
	&:hover
		transition all .3s
		color c-16
.f-center
	border-top 1px solid rgba(#5A7282, 0.4)
	border-bottom 1px solid rgba(#5A7282, 0.4)
	padding 31px 0px
	box-sizing border-box
.f-description
	font-size 12px
	line-height 18px
	color #445561
	text-align center
	letter-spacing: 0.015em
	p
		margin 0
.f-down
	display flex
	flex-flow row wrap
	align-items center
	justify-content space-between
	padding-top 33px
	@media screen and (max-width 1300px)
		justify-content center
.f-left-down
	width 59%
	display flex
	justify-content flex-start
	@media screen and (max-width 1300px)
		width 100%	
		justify-content center
	@media screen and (max-width 745px)
		flex-flow row wrap
		text-align center
.f-nav-item
	margin 0
	margin-left 20px
	span,a
		font-size 12px
		color c-14
		letter-spacing: 0.015em
		text-transform uppercase
		text-decoration underline
	i
		margin-left 5px
		font-size 12px
	&:first-child
		margin-left 0
	&:hover
		span
			transition all .3s
			color c-4
	@media screen and (max-width 745px)
		width 100%
		margin-left 0
		margin-bottom 10px
.f-right-down
	width 34.5%
	display flex
	align-items center
	@media screen and (max-width 1300px)
		width 100%
		justify-content center
		margin-top 20px
	@media screen and (max-width 745px)
		flex-flow row wrap
.f-grupo-moment
	display flex
	font-size 12px
	color c-14
	padding-right 8px
	box-sizing border-box
	letter-spacing: 0.015em
	span
		margin 0
	p
		margin 0
		margin-left 5px
	@media screen and (max-width 417px)
		padding-right 0
		margin-bottom 10px
.f-staff
	display flex
	align-items center
	padding-left 8px
	border-left 1px solid c-14
	box-sizing border-box
	p
		margin 0
		color c-14
		font-size 12px
		letter-spacing: 0.015em
		margin-right 3px
		display inline-block

	@media screen and (max-width 745px)
		border-left none
		
	
	
.f-logo-staff
	height 16px
	a
		display flex
	img
		max-width 100%
		height auto
.f-logo-staff-home
	display none
	height 16px
	img
		max-width 100%
		height auto
		
.f-item-down
	&.f-link-692
		&:after
			content '\e90a'
			font-family icomoon
			font-size 9px
			margin-left 10px
			margin-top 2px